body {
    background: #444445;
    font-family:Arial;
    font-size: 125%;
    color: white;
}
a:link {
    text-decoration: none;
}
a:visited {
    background-color: white;
  }
a{
    color: white;
}
 

.center {
    text-align: center;
}